@import "~@angular/material/theming";
@import '../../../assets/styles/neon.scss';

.note{
    margin: 5px;
}

.note.active{
    background-color: mat-color($palette-primary,900);
    color: mat-contrast($palette-primary,900);
}

.note.tonic{
    background-color: mat-color($palette-secondary,900);
    color: mat-contrast($palette-secondary,900);
}