<div fxFlex fxLayout="column">
    <h1>Colección de Elementos Musicales</h1>
    <mat-card style="--clr: #f0ff22; --i:0;" class="return" routerLink="/home"><a class="regresar" routerLink="/home">< Atras</a></mat-card>

    <div fxLayout="row wrap" fxLayoutAlign="start start" class="itemContainer">
        <h4>Intervalos:</h4>
        <div fxFlex fxLayout="row wrap" fxLayoutAlign="start  start">
            <button fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="concreteIntervals" 
                    *ngFor="let concreteInterval of userConcreteIntervals" 
                    [ngClass]="{'active': isSelectedConcreteInterval(concreteInterval.id_concrete_interval), '': !isSelectedConcreteInterval(concreteInterval.id_concrete_interval)}"
                    mat-button> 

                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button (click)="guardarIntervaloConcreto(concreteInterval.id_concrete_interval)" *ngIf="!isSelectedConcreteInterval(concreteInterval.id_concrete_interval)" mat-menu-item>
                            <mat-icon>save</mat-icon>
                            <span>Guardar</span>
                        </button>
                        <button (click)="eliminarIntervaloConcreto(concreteInterval.id_concrete_interval)" *ngIf="isSelectedConcreteInterval(concreteInterval.id_concrete_interval)"mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Eliminar</span>
                        </button>
                    </mat-menu>

                    {{printConcreteIntervals(concreteInterval)}}
            </button>
        </div>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start start" class="itemContainer">
        <h4>Acordes:</h4>
        <div fxFlex fxLayout="row wrap" fxLayoutAlign="start start">
            <button fxFlex fxLayout="row" fxLayoutAlign="space-between center"  class="concreteChords" 
                    *ngFor="let concreteChord of userConcreteChords"
                    [ngClass]="{'active': isSelectedConcreteChord(concreteChord.id_concrete_chord), '': !isSelectedConcreteChord(concreteChord.id_concrete_chord)}"
                    mat-button> 

                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button (click)="guardarAcordeConcreto(concreteChord.id_concrete_chord)" *ngIf="!isSelectedConcreteChord(concreteChord.id_concrete_chord)" mat-menu-item>
                            <mat-icon>save</mat-icon>
                            <span>Guardar</span>
                        </button>
                        <button (click)="eliminarAcordeConcreto(concreteChord.id_concrete_chord)" *ngIf="isSelectedConcreteChord(concreteChord.id_concrete_chord)"mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Eliminar</span>
                        </button>
                    </mat-menu>

                    {{printConcreteChord(concreteChord)}}
            </button>
        </div>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start start" class="itemContainer">
        <h4>Escalas:</h4>
        <div fxFlex fxLayout="row wrap" fxLayoutAlign="start start">
            <button fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="concreteScales" 
                    *ngFor="let concreteScale of userConcreteScales"
                    [ngClass]="{'active': isSelectedConcreteScale(concreteScale.id_concrete_scale), '': !isSelectedConcreteScale(concreteScale.id_concrete_scale)}"
                    mat-button> 

                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button (click)="guardarEscalaConcreta(concreteScale.id_concrete_scale)" *ngIf="!isSelectedConcreteScale(concreteScale.id_concrete_scale)" mat-menu-item>
                            <mat-icon>save</mat-icon>
                            <span>Guardar</span>
                        </button>
                        <button (click)="eliminarEscalaConcreta(concreteScale.id_concrete_scale)" *ngIf="isSelectedConcreteScale(concreteScale.id_concrete_scale)"mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Eliminar</span>
                        </button>
                    </mat-menu>

                    {{printConcreteScale(concreteScale)}}
            </button>
        </div>
    </div>

    <div fxFlex fxLayout="row wrap" fxLayoutAlign="start start" class="itemContainer">
        <h4>Progresiones:</h4>
        <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-between  start">
            <button fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="concreteProgressions" 
                    *ngFor="let concreteProgression of concreteProgressions" 
                    [ngClass]="{'active': isSelectedConcreteProgression(concreteProgression.id_concrete_progression), '': !isSelectedConcreteProgression(concreteProgression.id_concrete_progression)}"
                    mat-button> 

                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button (click)="guardarProgressionConcreta(concreteProgression.id_concrete_progression)" *ngIf="!isSelectedConcreteProgression(concreteProgression.id_concrete_progression)" mat-menu-item>
                            <mat-icon>save</mat-icon>
                            <span>Guardar</span>
                        </button>
                        <button (click)="eliminarProgressionConcreta(concreteProgression.id_concrete_progression)" *ngIf="isSelectedConcreteProgression(concreteProgression.id_concrete_progression)"mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Eliminar</span>
                        </button>
                    </mat-menu>

                    {{printConcreteProgression(concreteProgression)}}
            </button>
        </div>
    </div>
</div>