@import "~@angular/material/theming";
@import '../../../assets/styles/dracula.scss';


:host{
    height: auto;
    min-height: 100%;
    background-color: mat-color($palette-primary,900);
}

.container{
    height: 100%;
}

h2{
    margin-top: 20px;  
    font-size: 2em;
    text-align: center;
    color: mat-contrast($palette-primary,900)
}


.containerButtons{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.itemMenu{
    margin-left: 10px;
    margin-right:10px;
    
    height: 50px;
    width: 100px;

    overflow: hidden;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
    background-color: mat-color($palette-primary,900);
    
    transition: 1s;
}


.itemMenu.active{
    background-color: var(--clr);
    box-shadow: 0 0 10px var(--clr),
                0 0 30px var(--clr),
                0 0 60px var(--clr),
                0 0 100px var(--clr);

    cursor: pointer;
}

.itemMenu:hover{
    background-color: var(--clr);
    box-shadow: 0 0 10px var(--clr),
                0 0 30px var(--clr),
                0 0 60px var(--clr),
                0 0 100px var(--clr);

    cursor: pointer;
}

.itemMenu:hover::before{
    width: 100%;
}


.itemMenu.active::before{
    content: '';
    position: absolute;
    background-color: var(--clr);
    transition: 1s;
    animation: animate 2s linear infinite;
    animation-delay: calc(0.33s * var(--i));
}

.itemMenu::before{
    content: '';
    position: absolute;
    width: 110%;
    height: 20px;
    background-color: var(--clr);
    transition: 1s;
    animation: animate 2s linear infinite;
    animation-delay: calc(0.33s * var(--i));
}

@keyframes animate{
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
}



.itemMenu.active::after{
    content: '';
    position: absolute;
    inset: 4px;
    background-color: var(--clr);
    transition: 0.5s;
}


.itemMenu::after{
    content: '';
    position: absolute;
    inset: 4px;
    background-color: mat-color($palette-primary,900);
    transition: 0.5s;
}

.return{
    position: absolute;

    margin-left: 10px;
    margin-top:10px;

    height: 20px;
    width: 50px;

    overflow: hidden;
    align-items: center;
    background-color: rgba($color: #eb3232, $alpha: 1.0);
    
    transition: 1s;
}

.return:hover{
    box-shadow: 0 5px 45px rgb(248, 0, 0);
    background-color: rgba($color: #e21d1d, $alpha: 1.0);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    z-index: 1;
}

@media (max-width: 900px) {
    .return{
        position: relative;
    }
}



