<div class="container" *ngIf="!destroyFlag">
    <mat-form-field appearance="fill" class="matFormField">
        <mat-label> Note </mat-label>
        <mat-select>
          <mat-option *ngFor="let note of notesSelected" [value]="note.id"> {{note.symbol}} </mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="matFormField">
        <mat-label> Position </mat-label>
        <mat-select>
          <mat-option *ngFor="let position of [1,2,3,4,5,6,7,8,8,10,11,12]" [value]="position"> {{position}} </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-icon-button (click)="destroySelf()">
      <mat-icon>remove_circle_outline</mat-icon>
    </button>
</div>