@import "~@angular/material/theming";
@import '../../../assets/styles/dracula.scss';


:host{
    height: auto;
    min-height: 100%;
    background-color: mat-color($palette-primary,900);
}

.container{
    height: 100%;
}

h3{
    margin-top: 30px;  
    font-size: 1.5em;
    text-align: center;
    color: mat-contrast($palette-primary,900)
}

h4{
    display: inline-block;
    white-space: normal;
    width: 180px;
    margin: 10px;
    font-size: 1em;
    text-align: right;
    vertical-align: middle;
    color: mat-contrast($palette-primary,900)
}

input{
    height: 50px;
    text-align: center;
}


.semitones{
    margin: 10px;
    height: 40px;
    background-color: rgba(255,255,255,.1);
    box-shadow: 0px 0px 5px 3px #d6f605;
    color: mat-contrast($palette-primary,900);
}

.semitones:hover{
    background-color: rgba(0,0,0,.2);
    box-shadow: 0px 0px 5px 3px #d6f605,
                    0 0 30px #d6f605,
                    0 0 60px #d6f605,
                    0 0 100px #d6f605;
}


.notes{
    margin: 10px;
    height: 40px;
    background-color: rgba(255,255,255,.1);
    box-shadow: 0px 0px 5px 3px #F58E67;
    color: mat-contrast($palette-primary,900);
}

.tonic{
    margin: 10px;
    height: 40px;
    background-color: rgba(255,255,255,.1);
    box-shadow: 0px 0px 5px 3px #F58E67;
    color: mat-contrast($palette-primary,900)
}

.tonic:hover{
    background-color: rgba(0,0,0,.2);
    box-shadow: 0px 0px 5px 3px #F58E67,
                    0 0 30px #F58E67,
                    0 0 60px #F58E67,
                    0 0 100px #F58E67;
}



.notes:hover{
    background-color: rgba(0,0,0,.2);
    box-shadow: 0px 0px 5px 3px #F58E67,
                    0 0 30px #F58E67,
                    0 0 60px #F58E67,
                    0 0 100px #F58E67;
}

.tonic.active{
    color: black;
    text-shadow: 0px 0px 2px black;
    background-color: #F58E67;
    box-shadow: 0px 0px 5px 3px #F58E67,
                    0 0 30px #F58E67,
                    0 0 60px #F58E67,
                    0 0 100px #F58E67;
}

.notes.active{
    color: black;
    text-shadow: 0px 0px 2px black;
    background-color: #F58E67;
    box-shadow: 0px 0px 5px 3px #F58E67,
                    0 0 30px #F58E67,
                    0 0 60px #F58E67,
                    0 0 100px #F58E67;
}






.concreteScales{
    margin: 10px;
    height: 40px;
    background-color: rgba(255,255,255,.1);
    box-shadow: 0px 0px 5px 3px #00ccff;
    color: mat-contrast($palette-primary,900);
    width: 100%;
    min-width: 90%;
}

.concreteScales:hover{
    background-color: rgba(0,0,0,.2);
    box-shadow: 0px 0px 5px 3px #00ccff,
                    0 0 30px #00ccff,
                    0 0 60px #00ccff,
                    0 0 100px #00ccff;
}

.concreteScales.active{
    color: black;
    text-shadow: 0px 0px 2px black;
    background-color: #00ccff;
    box-shadow: 0px 0px 5px 3px #00ccff,
                    0 0 30px #00ccff,
                    0 0 60px #00ccff,
                    0 0 100px #00ccff;
}



.concreteChord{
    margin: 10px;
    height: 40px;
    background-color: rgba(255,255,255,.1);
    box-shadow: 0px 0px 5px 3px #ff22bb;
    color: mat-contrast($palette-primary,900);
    width: 100%;
    min-width: 90%;
}

.concreteChord:hover{
    background-color: rgba(0,0,0,.2);
    box-shadow: 0px 0px 5px 3px #ff22bb,
                    0 0 30px #ff22bb,
                    0 0 60px #ff22bb,
                    0 0 100px #ff22bb;
}

.concreteChord.active{
    color: black;
    text-shadow: 0px 0px 2px black;
    background-color: #ff22bb;
    box-shadow: 0px 0px 5px 3px #ff22bb,
                    0 0 30px #ff22bb,
                    0 0 60px #ff22bb,
                    0 0 100px #ff22bb;
}

.itemContainer{
    width: 100%;
    margin-top: 10px;
}



.buscar{
    margin: 20px;
    width: 200px;
    height: 40px;
    background-color: rgba(255,255,255,.1);
    box-shadow: 0px 0px 5px 3px #ff22bb;
    animation: colorize 2s linear infinite;
    color: mat-contrast($palette-primary,900);
}

.buscar:hover{
    background-color: rgba(0,0,0,.2);
    box-shadow: 0px 0px 5px 3px #fc1c1c,
                    0 0 30px #fc1c1c,
                    0 0 60px #fc1c1c,
                    0 0 100px #fc1c1c;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    z-index: 1;
}

@keyframes colorize{
    0%{ box-shadow: 0px 0px 5px 3px #ff22bb; }
    25%{ box-shadow: 0px 0px 5px 3px #00ccff }
    50%{ box-shadow: 0px 0px 5px 3px #22e622 }
    75%{ box-shadow: 0px 0px 5px 3px #7722e6}
    100%{ box-shadow: 0px 0px 5px 3px #F58E67}
}
