<div fxFlex fxLayout="column" fxLayoutAlign="start center" class="container" *ngIf="!isAnalize">
    <h3>Seleccione las Caracteristicas de su Escala</h3>

    <div fxFlex fxLayout="row wrap" fxLayoutAlign="start start" class="itemContainer">
        <h4>Nota Principal:</h4>
        <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-around start">
            <button class="tonic" 
                    (click)="selectTonic(note.id)" 
                    [ngClass]="{'active': tonic == note.id, '': tonic != note.id}" 
                    *ngFor="let note of notes" 
                    mat-button> 
                    {{note.symbol}} 
            </button>
        </div>
    </div>

    <div fxFlex fxLayout="row wrap" fxLayoutAlign="start start" class="itemContainer">
        <h4>Notas de la Escala:</h4>
        <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-around start">
            <button class="notes" 
                    (click)="selectNote(note.id)" 
                    [ngClass]="{'active': isSelectedNote(note.id), '': !isSelectedNote(note.id)}" 
                    *ngFor="let note of notes" 
                    mat-button> 
                    {{note.symbol}} 
            </button>
        </div>
    </div>

    <div fxFlex fxLayout="row wrap" fxLayoutAlign="start start" class="itemContainer">
        <mat-checkbox (click)="clearChords()" [(ngModel)]="chordsCheck">Lista de Acordes</mat-checkbox>

        <cdk-virtual-scroll-viewport orientation="vertical" itemSize="1"
                fxFlex fxLayout="row wrap" fxLayoutAlign="space-between  start" class="cdkContainer"
                *ngIf="chordsCheck">
            <button class="chords"
                    (click)="selectChord(chord.id)" 
                    [ngClass]="{'active': isSelectedChord(chord.id), '': !isSelectedChord(chord.id)}"
                    *cdkVirtualFor="let chord of chords" 
                    mat-button> 
                    {{chord.name + " (" + chord.symbol +")"}} 
            </button>
        </cdk-virtual-scroll-viewport>
    </div>

    <div fxFlex fxLayout="row wrap" fxLayoutAlign="start start" class="itemContainer">
        <mat-checkbox (click)="clearScales()" [(ngModel)]="scalesCheck">Lista de Escalas</mat-checkbox>
        
        <cdk-virtual-scroll-viewport orientation="vertical" itemSize="20"
            fxFlex fxLayout="row wrap"class="cdkContainer" *ngIf="scalesCheck">
            <button class="scales"
                    (click)="selectScale(scale.id)" 
                    [ngClass]="{'active': isSelectedScale(scale.id), '': !isSelectedScale(scale.id)}"
                    *cdkVirtualFor="let scale of scales" 
                    mat-button> 
                    {{scale.name + " (" + scale.symbol +")"}} 
            </button>
        </cdk-virtual-scroll-viewport>
    </div>

    <button class="buscar" (click)="getConcreteScaleWithMe()"  mat-button>Buscar</button>
    <div fxFlex fxLayout="row wrap" fxLayoutAlign="start start" class="itemContainer">
        <h4>Escalas Encontradas:</h4>
        <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-between  start">
            <button fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="concreteScales" 
            *ngFor="let concreteScale of concreteScales" 
                    [ngClass]="{'active': isSelectedConcreteScale(concreteScale.id_concrete_scale), '': !isSelectedConcreteScale(concreteScale.id_concrete_scale)}"
                    mat-button> 

                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button (click)="guardarEscalaConcreta(concreteScale.id_concrete_scale)" *ngIf="!isSelectedConcreteScale(concreteScale.id_concrete_scale)" mat-menu-item>
                            <mat-icon>save</mat-icon>
                            <span>Guardar</span>
                        </button>
                        <button (click)="eliminarEscalaConcreta(concreteScale.id_concrete_scale)" *ngIf="isSelectedConcreteScale(concreteScale.id_concrete_scale)"mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Eliminar</span>
                        </button>
                        <button (click)="analizeScale(concreteScale)" mat-menu-item>
                            <mat-icon>description</mat-icon>
                            <span>Analizar</span>
                        </button>
                    </mat-menu>

                    {{printConcreteScale(concreteScale)}}
            </button>
        </div>
    </div>
</div>

<div fxFlex fxLayout="column" fxLayoutAlign="start center" class="container" *ngIf="isAnalize">
    <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-between start" style="width: 100%;">
        <mat-card (click)="unanalizeScale()"style="--clr: #f0ff22; --i:0;" class="regresar" ><a class="regresar"><<</a></mat-card>
        <button fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="concreteScales"
                [ngClass]="{'active': isSelectedConcreteScale(toAnalizeScale.id_concrete_scale), '': !isSelectedConcreteScale(toAnalizeScale.id_concrete_scale)}"
                mat-button> 

                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button (click)="guardarEscalaConcreta(toAnalizeScale.id_concrete_scale)" *ngIf="!isSelectedConcreteScale(toAnalizeScale.id_concrete_scale)" mat-menu-item>
                        <mat-icon>save</mat-icon>
                        <span>Guardar</span>
                    </button>
                    <button (click)="eliminarEscalaConcreta(toAnalizeScale.id_concrete_scale)" *ngIf="isSelectedConcreteScale(toAnalizeScale.id_concrete_scale)"mat-menu-item>
                        <mat-icon>delete</mat-icon>
                        <span>Eliminar</span>
                    </button>
                </mat-menu>

                {{printConcreteScale(toAnalizeScale)}}
        </button>
    </div>

    <div fxFlex fxLayout="row wrap" fxLayoutAlign="start start" class="itemContainer">
        <h4>Grados de la Escala:</h4>
        <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-between  start">
            <button fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="concreteChord"
            *ngFor="let grade of gradesOfScale; let i = index;" 
                    [ngClass]="{'active': concreteChordsSelected.includes(grade.id_concrete_chord), '': !concreteChordsSelected.includes(grade.id_concrete_chord)}"
                    mat-button> 

                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button (click)="guardarAcordeConcreto(grade.id_concrete_chord)" *ngIf="!isSelectedConcreteChord(grade.id_concrete_chord)" mat-menu-item>
                            <mat-icon>save</mat-icon>
                            <span>Guardar</span>
                        </button>
                        <button (click)="eliminarAcordeConcreto(grade.id_concrete_chord)" *ngIf="isSelectedConcreteChord(grade.id_concrete_chord)"mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Eliminar</span>
                        </button>
                    </mat-menu>

                    {{printConcreteGrade(grade,i+1)}}
            </button>
        </div>
    </div>

    <div fxFlex fxLayout="row wrap" fxLayoutAlign="start start" class="itemContainer">
        <h4>Intervalos de la Escala:</h4>
        <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-between  start">
            <button fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="concreteInterval"
            *ngFor="let concreteIntervalOfScale of concreteIntervalsOfScale" 
                    [ngClass]="{'active': concreteIntervalsSelected.includes(concreteIntervalOfScale.id_concrete_interval), '': !concreteIntervalsSelected.includes(concreteIntervalOfScale.id_concrete_interval)}"
                    mat-button> 

                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button (click)="guardarIntervaloConcreto(concreteIntervalOfScale.id_concrete_interval)" *ngIf="!isSelectedConcreteInterval(concreteIntervalOfScale.id_concrete_interval)" mat-menu-item>
                            <mat-icon>save</mat-icon>
                            <span>Guardar</span>
                        </button>
                        <button (click)="eliminarIntervaloConcreto(concreteIntervalOfScale.id_concrete_interval)" *ngIf="isSelectedConcreteInterval(concreteIntervalOfScale.id_concrete_interval)"mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Eliminar</span>
                        </button>
                    </mat-menu>

                    {{printConcreteIntervals(concreteIntervalOfScale)}}
            </button>
        </div>
    </div>
</div>