<table mat-table  [dataSource]="chords" class="mat-elevation-z8 w-auto">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let chord"> {{chord.name}} </td>
    </ng-container>
    
    <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Simbolo </th>
        <td mat-cell *matCellDef="let chord"> {{chord.symbol}} </td>
    </ng-container>
    
    <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Codigo </th>
        <td mat-cell *matCellDef="let chord"> {{chord.code}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; let chord; columns: displayedColumns;" (click)="selectChord(chord.id)" [ngClass]="{'active': isSelectedChord(chord.id), '': !isSelectedChord(chord.id)}"></tr>
</table>