@import "~@angular/material/theming";
@import '../../../assets/styles/dracula.scss';

table{
    width: 700px;
}

.mat-row{
    background-color: mat-color($palette-secondary,50);
    color: mat-contrast($palette-secondary,50);
}

.mat-row:hover{
    cursor: pointer;
    background-color: mat-color($palette-secondary,600);
}

.mat-row.active{
    background-color: mat-color($palette-accent,600);
    color: mat-contrast($palette-accent,600);
}