<div fxFlex fxLayout="column" class="container" *ngIf="!isAnalize">
    
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <mat-card style="--clr: #f0ff22; --i:0;" class="return" routerLink="/home"><a class="regresar" routerLink="/home">< Atras</a></mat-card>
        <h2 style="width: 90%;">Seleccione Una Escala y Un Genero Musical</h2>    
    </div>
    
    <div fxLayout="row wrap" fxLayoutAlign="start start" class="itemContainer">
        <h4>Escalas:</h4>
        <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-between  start">
            <button fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="concreteScales"
                    *ngFor="let concreteScale of userConcreteScales"
                    [ngClass]="{'active': concreteScale.id_concrete_scale == concreteScaleSelected, '': concreteScale.id_concrete_scale != concreteScaleSelected}"
                    (click)="selectConcreteScale(concreteScale)"
                    mat-button> 
                    {{printConcreteScale(concreteScale)}}
            </button>
        </div>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start start" class="itemContainer">
        <h4>Generos:</h4>
        <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-between  start">
            <button fxFlex fxLayout="row" fxLayoutAlign="space-between center"  class="genres" 
                    *ngFor="let genre of genres"
                    [ngClass]="{'active': genre.id == genreSelected, '': genre.id != genreSelected}"
                    (click)="selectGenre(genre.id)"
                    mat-button> 
                    {{genre.name}}
            </button>
        </div>
    </div>


    <button class="buscar" (click)="generateProgressions()"  mat-button>Generar</button>

    <div fxLayout="row wrap" fxLayoutAlign="start start" class="itemContainer">
        <h4>Respuesta:</h4>

        <div fxFlex fxLayout="row wrap" fxLayoutAlign="space start" >
            <button fxFlex fxLayout="row" fxLayoutAlign="space-between center"  class="concreteProgressions" 
                    *ngFor="let concreteProgression of concreteProgressions"
                    [ngClass]="{'active': isSelectedConcreteProgression(concreteProgression.id_concrete_progression), '': !isSelectedConcreteProgression(concreteProgression.id_concrete_progression)}"
                    mat-button> 



                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button (click)="guardarProgressionConcreta(concreteProgression.id_concrete_progression)" *ngIf="!isSelectedConcreteProgression(concreteProgression.id_concrete_progression)" mat-menu-item>
                            <mat-icon>save</mat-icon>
                            <span>Guardar</span>
                        </button>
                        <button (click)="eliminarProgressionConcreta(concreteProgression.id_concrete_progression)" *ngIf="isSelectedConcreteProgression(concreteProgression.id_concrete_progression)"mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Eliminar</span>
                        </button>
                        <button (click)="analizeProgression(concreteProgression)" mat-menu-item>
                            <mat-icon>description</mat-icon>
                            <span>Analizar</span>
                        </button>
                    </mat-menu>

                    {{printConcreteProgression(concreteProgression)}}
            </button>
        </div>
    </div>
</div>  


<div fxFlex fxLayout="column" fxLayoutAlign="start center" class="container" *ngIf="isAnalize">
    <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-between start" style="width: 100%;">
        
        <mat-card (click)="unanalizeProgression()" style="--clr: #f0ff22; --i:0;" class="return" ><a class="regresar" >< Atras</a></mat-card>
        <button fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="concreteProgressions"
                [ngClass]="{'active': isSelectedConcreteProgression(toAnalizeProgression[0].id_concrete_progression), '': !isSelectedConcreteProgression(toAnalizeProgression[0].id_concrete_progression)}"
                mat-button> 

                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button (click)="guardarProgressionConcreta(toAnalizeProgression[0].id_concrete_progression)" *ngIf="!isSelectedConcreteProgression(toAnalizeProgression[0].id_concrete_progression)" mat-menu-item>
                        <mat-icon>save</mat-icon>
                        <span>Guardar</span>
                    </button>
                    <button (click)="eliminarProgressionConcreta(toAnalizeProgression[0].id_concrete_progression)" *ngIf="isSelectedConcreteProgression(toAnalizeProgression[0].id_concrete_progression)"mat-menu-item>
                        <mat-icon>delete</mat-icon>
                        <span>Eliminar</span>
                    </button>
                </mat-menu>

                {{printConcreteProgression(toAnalizeProgression[0])}}
        </button>
    </div>

    <div fxFlex fxLayout="row wrap" fxLayoutAlign="start start" class="itemContainer">
        <h4>Escala de origen:</h4>
        <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-between  start">
            <button fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="concreteScales"
                    [ngClass]="{'active': isSelectedConcreteScale( idOriginScale), '': !isSelectedConcreteScale(idOriginScale)}"
                    mat-button> 

                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button (click)="guardarEscalaConcreta(idOriginScale)" *ngIf="!isSelectedConcreteScale(idOriginScale)" mat-menu-item>
                            <mat-icon>save</mat-icon>
                            <span>Guardar</span>
                        </button>
                        <button (click)="eliminarEscalaConcreta(idOriginScale)" *ngIf="isSelectedConcreteScale(idOriginScale)"mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Eliminar</span>
                        </button>
                    </mat-menu>

                    {{printConcreteScale(concreteOriginScale[0])}}
            </button>
        </div>
    </div>

    <div fxFlex fxLayout="row wrap" fxLayoutAlign="start start" class="itemContainer">
        <h4>Grados de la Escala:</h4>
        <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-between  start">
            <button fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="concreteChord"
            *ngFor="let grade of gradesOfScale" 
                    [ngClass]="{'active': concreteChordsSelected.includes(grade.id_concrete_chord), '': !concreteChordsSelected.includes(grade.id_concrete_chord)}"
                    mat-button> 

                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button (click)="guardarAcordeConcreto(grade.id_concrete_chord)" *ngIf="!isSelectedConcreteChord(grade.id_concrete_chord)" mat-menu-item>
                            <mat-icon>save</mat-icon>
                            <span>Guardar</span>
                        </button>
                        <button (click)="eliminarAcordeConcreto(grade.id_concrete_chord)" *ngIf="isSelectedConcreteChord(grade.id_concrete_chord)"mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Eliminar</span>
                        </button>
                    </mat-menu>

                    {{printConcreteGrade(grade)}}
            </button>
        </div>
    </div>

</div>