<div fxFlex fxLayout fxLayoutAlign="center center" class="login">
    <div class="container">
        <div class="loginBg" [ngClass]="{'active': activeForm, '': !activeForm}">
            <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="box signin">
                <h2>¿Tienes una cuenta?</h2>
                <button (click)="changeActive()" class="signinbtn">Entrar</button>
            </div>
            <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="box signup">
                <h2>¿No Tienes una cuenta?</h2>
                <button (click)="changeActive()" class="signupbtn">Registrarse</button>
            </div>
        </div>
        <div fxFlex fxLayout fxLayoutAlign="center center" class="formBox" [ngClass]="{'active': activeForm, '': !activeForm}">
            <div class="form signinForm">
                <form fxFlex fxLayout="column" action="">
                    <h3>Iniciar sesión</h3>
                    <input [(ngModel)]="userData.username" name="username" type="text" placeholder="Usuario">
                    <input [(ngModel)]="userData.password" name="password" type="password" placeholder="Contraseña">
                    <input (click)="loginUser()" type="submit" value="Login">
                    <p class="error">{{messageLogin}}</p>
                    </form>
            </div>
            <div class="form signupForm">
                <form fxFlex fxLayout="column" action="">
                    <h3>Unirse</h3>
                    <input [(ngModel)]="userData.username" [ngModelOptions]="{standalone: true}" type="text" placeholder="Usuario">
                    <input [(ngModel)]="userData.email"    [ngModelOptions]="{standalone: true}" type="text" placeholder="Correo Electronico">
                    <input [(ngModel)]="userData.password" [ngModelOptions]="{standalone: true}" type="password" placeholder="Contraseña">
                    <input [(ngModel)]="passwordConfirm"   [ngModelOptions]="{standalone: true}" type="password" placeholder="Confirmar Contraseña">
                    <input (click)="registrarUsuario()" type="submit" value="Registrar">
                    <p class="error">{{message}}</p>
                </form>
            </div>
        </div>
    </div>
</div>