
<div fxFlex fxLayout="column" class="main-container">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="search-container">
      <form class="search-form">
          <mat-form-field class="search-full-width" appearance="fill">
            <mat-label>Nombre / simbolo</mat-label>
            
            <input type="text"
                    placeholder="Selecciona Uno"
                    aria-label="Nombre"
                    matInput
                    [formControl]="searchControl"
                    [matAutocomplete]="auto">
            
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>

          </mat-form-field>
          <button mat-icon-button>
            <mat-icon>arrow_forward_ios</mat-icon>
          </button>
      </form>

      <button mat-button color="primary">
        <mat-icon>arrow_backward_ios</mat-icon>
        Regresar
      </button>
  </div>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Acordes">
      <mat-form-field appearance="fill">
        <mat-label>Typo</mat-label>
        <mat-select>
          <mat-option *ngFor="let type of types" [value]="type"> {{type}} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Añadidos</mat-label>
        <mat-select>
          <mat-option *ngFor="let type of ['Triada', 'Septima', 'Novena', 'Treceava']" [value]="type"> {{type}} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Estado</mat-label>
        <mat-select>
          <mat-option *ngFor="let type of ['Fundamental', '1ra Inversion', '2da Inversion', '3ra Inversion', '4ta Inversion']" [value]="type"> {{type}} </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-tab>
    <mat-tab label="Escalas">
      <mat-form-field appearance="fill">
        <mat-label>Grupo</mat-label>
        <mat-select>
          <mat-option *ngFor="let type of ['Griegas', 'Harmonicas', 'Melodicas', 'Pentanonicas', 'Bebop']" [value]="type"> {{type}} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="search-full-width" appearance="fill">
        <mat-label>Codigo: "T-T-sT-T-T-T-sT-T"</mat-label>
        <input type="text"
               placeholder="Codigo"
               aria-label="Codigo"
               matInput />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Direccion</mat-label>
        <mat-select>
          <mat-option *ngFor="let type of ['Ascendente', 'Descendente', 'Sin direccion']" [value]="type"> {{type}} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-divider></mat-divider>
      <mat-label>Grados</mat-label>

      <mat-form-field appearance="fill">
        <mat-label>I</mat-label>
        <mat-select>
          <mat-option *ngFor="let type of types" [value]="type"> {{type}} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>II</mat-label>
        <mat-select>
          <mat-option *ngFor="let type of types" [value]="type"> {{type}} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>III</mat-label>
        <mat-select>
          <mat-option *ngFor="let type of types" [value]="type"> {{type}} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>IV</mat-label>
        <mat-select>
          <mat-option *ngFor="let type of types" [value]="type"> {{type}} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>V</mat-label>
        <mat-select>
          <mat-option *ngFor="let type of types" [value]="type"> {{type}} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>VI</mat-label>
        <mat-select>
          <mat-option *ngFor="let type of types" [value]="type"> {{type}} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>VII</mat-label>
        <mat-select>
          <mat-option *ngFor="let type of types" [value]="type"> {{type}} </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-tab>
    <mat-tab label="Progresiones">
      <mat-form-field appearance="fill">
        <mat-label>Cadencia</mat-label>
        <mat-select>
          <mat-option *ngFor="let type of ['Perfecta', 'Rota', 'Semicadencia']" [value]="type"> {{type}} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label># Acordes</mat-label>
        <mat-select>
          <mat-option *ngFor="let type of ['2','3','4','5','6','7','8','9','10', '10+']" [value]="type"> {{type}} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="search-full-width" appearance="fill">
        <mat-label>Codigo: "I-IV-V-I"</mat-label>
        <input type="text"
               placeholder="Codigo"
               aria-label="Codigo"
               matInput />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Acorde en Inicio</mat-label>
        <mat-select>
          <mat-option *ngFor="let type of types" [value]="type"> {{type}} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Acorde en Final</mat-label>
        <mat-select>
          <mat-option *ngFor="let type of types" [value]="type"> {{type}} </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-tab>
    <mat-tab label="Intervalos">
      <mat-form-field class="search-full-width" appearance="fill">
        <mat-label>Semitonos</mat-label>
        <input type="text"
               placeholder="5"
               aria-label="5"
               matInput />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Typo</mat-label>
        <mat-select>
          <mat-option *ngFor="let type of ['Simple','Compuesto']" [value]="type"> {{type}} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Direccion</mat-label>
        <mat-select>
          <mat-option *ngFor="let type of ['Ascendente', 'Descendente']" [value]="type"> {{type}} </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-tab>
  </mat-tab-group>

  <mat-divider></mat-divider>

  <div fxLayout="row wrap" fxLayoutAlign="space-around center" class="note-container">
    <button class="tonic"
        (click)="selectNote(note)"
        *ngFor="let note of notes" 
        mat-button> 
        {{note.symbol}} 
    </button>
  </div>

  <mat-divider></mat-divider>

  <div #orderAddContainer fxLayout="row" fxLayoutAlign="start center" class="order-container">
    <h4>Orden</h4>
    <mat-form-field appearance="fill">
      <mat-label>Tonica</mat-label>
      <mat-select>
        <mat-option *ngFor="let note of notesSelected" [value]="note.id"> {{note.symbol}} </mat-option>
      </mat-select>
    </mat-form-field>

    <ng-template appOrderSelector ></ng-template>

    <button mat-icon-button (click)="addOrder()" *ngIf="notesSelected.length > signalsService.orderComponents">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </div>

  <mat-divider></mat-divider>

  <div fxLayout="row" fxLayoutAlign="space-around center" class="filtar-by-options-container">
    <mat-form-field appearance="fill">
      <mat-label>notas minimas</mat-label>
      <mat-select>
        <mat-option *ngFor="let min of [1,2,3,4,5,6,7,8,8,10,11,12]" [value]="min"> {{min}} </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>notas maximas</mat-label>
      <mat-select>
        <mat-option *ngFor="let max of [1,2,3,4,5,6,7,8,8,10,11,12]" [value]="max"> {{max}} </mat-option>
      </mat-select>
    </mat-form-field>
  </div>



  <mat-divider></mat-divider>

  <div class="resultsContainer">
    <mat-label>Resultados de Busqueda</mat-label>
    <div class="resultsChords" *ngIf="resultingChords.length == 0">
      <mat-label>Acordes</mat-label>
      <mat-form-field appearance="outline">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilterChord($event)" placeholder="Ejemplo. mayor" #input>
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSourceChord" matSort>
      
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>
      
          <!-- Progress Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Simbolo </th>
            <td mat-cell *matCellDef="let row"> {{row.symbol}}% </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>
      
          <!-- Fruit Column -->
          <ng-container matColumnDef="notes">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Notas </th>
            <td mat-cell *matCellDef="let row"> {{row.notes}} </td>
          </ng-container>

          
          <tr mat-header-row *matHeaderRowDef="displayedColumnsChord"></tr>
          <tr mat-row 
              (click)="selectChord(row)"
              [class.demo-row-is-clicked]="selectedChords.has(row)"
              *matRowDef="let row; columns: displayedColumnsChord;">
            </tr>
      
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No hay concidencias con "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>



    <div class="resultsScales" *ngIf="resultingScales.length == 0">
      <mat-label>Escalas</mat-label>
      <mat-form-field appearance="outline">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilterScale($event)" placeholder="Ejemplo. mayor" #input>
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSourceScale" matSort>
      
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>
      
          <!-- Progress Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Simbolo </th>
            <td mat-cell *matCellDef="let row"> {{row.symbol}}% </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>
      
          <!-- Fruit Column -->
          <ng-container matColumnDef="notes">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Notas </th>
            <td mat-cell *matCellDef="let row"> {{row.notes}} </td>
          </ng-container>

          
          <tr mat-header-row *matHeaderRowDef="displayedColumnsScale"></tr>
          <tr mat-row 
              (click)="selectScales(row)"
              [class.demo-row-is-clicked]="selectedScales.has(row)"
              *matRowDef="let row; columns: displayedColumnsScale;">
            </tr>
      
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No hay concidencias con "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>



    <div class="resultsProgressions" *ngIf="resultingProgressions.length == 0">
      <mat-label>Progresiones</mat-label>
      <mat-form-field appearance="outline">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilterProgression($event)" placeholder="Ejemplo. Jazz" #input>
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSourceProgression" matSort>
      
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>
      
          <!-- Progress Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Simbolo </th>
            <td mat-cell *matCellDef="let row"> {{row.symbol}}% </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>
      
          <!-- Fruit Column -->
          <ng-container matColumnDef="notes">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Grados </th>
            <td mat-cell *matCellDef="let row"> {{row.notes}} </td>
          </ng-container>

          
          <tr mat-header-row *matHeaderRowDef="displayedColumnsProgression"></tr>
          <tr mat-row 
              (click)="selectProgressions(row)"
              [class.demo-row-is-clicked]="selectedProgressions.has(row)"
              *matRowDef="let row; columns: displayedColumnsProgression;">
            </tr>
      
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No hay concidencias con "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>



    <div class="resultsIntervals" *ngIf="resultingIntervals.length == 0">
      <mat-label>Intervalos</mat-label>
      <mat-form-field appearance="outline">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilterInterval($event)" placeholder="Ejemplo. Disminuido" #input>
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSourceInterval" matSort>
      
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>
      
          <!-- Progress Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let row"> {{row.symbol}}% </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Semitonos </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumnsInterval"></tr>
          <tr mat-row 
              (click)="selectIntervals(row)"
              [class.demo-row-is-clicked]="selectedIntervals.has(row)"
              *matRowDef="let row; columns: displayedColumnsInterval;">
            </tr>
      
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No hay concidencias con "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
  </div>
</div>