<div fxFlex fxLayout="row" fxLayoutAlign="space-around center" class="container">
    <mat-card fxFlex fxLayout fxLayoutAlign="center center" class="matCard" routerLink="/analyzer"><a routerLink="/analyzer">Analizar</a></mat-card>
    <mat-card fxFlex fxLayout fxLayoutAlign="center center" class="matCard" routerLink="/generator"><a routerLink="/generator">Generar</a></mat-card>
    <mat-card fxFlex fxLayout fxLayoutAlign="center center" class="matCard" routerLink="/recognizer"><a routerLink="/recognizer">Consultar</a></mat-card>
    <mat-card fxFlex fxLayout fxLayoutAlign="center center" class="matCard" routerLink="/creator"> <a routerLink="/creator">Crear</a></mat-card>        
</div>
