<div class="overlay-container">
    <mat-card class="overlay-card-container" *ngIf="signalsService.guideStep == 0">
      <mat-card-header>
        <mat-card-title>Seleccion de Elementos A Buscar</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://i.imgur.com/Ib7eMBt.png"/>
      <mat-card-content>
        <p>Activa los elementos que deseas buscar haciendo click en el slide.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button  (click)="signalsService.guideStep = -1">Cerrar</button>
        <button mat-button  (click)="signalsService.guideStep = 1">Siguiente</button>
      </mat-card-actions>
    </mat-card>
    
    <mat-card class="overlay-card-container" *ngIf="signalsService.guideStep == 1">
        <mat-card-content>
          <p>Activa los elementos que deseas buscar</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button  (click)="signalsService.guideStep = -1">Cerrar</button>
          <button mat-button  (click)="signalsService.guideStep = 2">Siguiente</button>
        </mat-card-actions>
    </mat-card>
    
    <mat-card class="overlay-card-container" *ngIf="signalsService.guideStep == 2">
        <mat-card-content>
          <p>Activa los elementos que deseas buscar</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="signalsService.guideStep = -1">Finalizar</button>
        </mat-card-actions>
    </mat-card>        
</div>
