/* You can add global styles to this file, and also import other style files */

/* SCSS RGB */
$mauve: rgba(250, 166, 255, 1);
$dark-blue-gray: rgba(100, 97, 160, 1);
$turquoise: rgba(52, 209, 191, 1);
$rich-black-fogra-39: rgba(7, 7, 7, 1);
$cerise: rgba(209, 52, 91, 1);

/* SCSS RGB */
$light-pink: rgba(255, 173, 173, 1);
$deep-champagne: rgba(255, 214, 165, 1);
$lemon-yellow-crayola: rgba(253, 255, 182, 1);
$tea-green: rgba(202, 255, 191, 1);
$electric-blue: rgba(155, 246, 255, 1);
$baby-blue-eyes: rgba(160, 196, 255, 1);
$maximum-blue-purple: rgba(189, 178, 255, 1);
$mauve: rgba(255, 198, 255, 1);
$baby-powder: rgba(255, 255, 252, 1);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


