@use '@angular/material' as mat;

@include mat.core();

$md-primary: (
    50 : #fee6f3,
    100 : #fdc0e0,
    200 : #fc96cb,
    300 : #fa6cb6,
    400 : #f94da7,
    500 : #f82d97,
    600 : #f7288f,
    700 : #f62284,
    800 : #f51c7a,
    900 : #f31169,
    A100 : #ffd7eb,
    A200 : #ff9acc,
    A400 : #ff80c0,
    A700 : #ff71b8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-secondary: (
    50 : #e1f8fc,
    100 : #b3edf8,
    200 : #80e2f3,
    300 : #4dd6ee,
    400 : #27cdeb,
    500 : #01c4e7,
    600 : #01bee4,
    700 : #01b6e0,
    800 : #01afdd,
    900 : #00a2d7,
    A100 : #b4f8ff,
    A200 : #76f2ff,
    A400 : #5df0ff,
    A700 : #4eeeff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-tertiary: (
    50 : #e6fef4,
    100 : #c0fde3,
    200 : #97fcd0,
    300 : #6dfabd,
    400 : #4df9ae,
    500 : #2ef8a0,
    600 : #29f798,
    700 : #23f68e,
    800 : #1df584,
    900 : #12f373,
    A100 : #ffffff,
    A200 : #d5ffdf,
    A400 : #bbffcc,
    A700 : #acffc1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$palette-primary:   mat.define-palette($md-primary);
$palette-secondary: mat.define-palette($md-secondary);
$palette-tertiary:  mat.define-palette($md-tertiary);

$theme: mat.define-light-theme((
    color : (
        primary:    $palette-primary,
        accent:  $palette-secondary,
        warn:   $palette-tertiary,
    )
));

@include mat.all-component-themes($theme);
